{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid h-100" style="margin-top: 10%">
    <div class="row align-items-center h-100">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
<b>Пользователь: {{ first_name }} {{ last_name }}</b><br><br>
    <b> Друзья:</b><br>
{% for friend in friend_name %}
  <b> {{ friend }} </b><br>
{% endfor %}
    <a href="{% url 'logout'%}" class="btn btn-primary">Выход</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
